<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="h-screen w-screen bg-zinc-900 text-white p-10">
    <form class="flex flex-col gap-3 grid justify-items-center" method="post" action="/signup">
      <input class="p-3 rounded-md bg-zinc-800" type="text" placeholder="name" name="name">
      <input class="p-3 rounded-md bg-zinc-800" type="text" placeholder="username" name="username">
      <input class="p-3 rounded-md bg-zinc-800" type="email" placeholder="email" name="email">
      <input class="p-3 rounded-md bg-zinc-800" type="password" placeholder="password" name="password">
      <input class="p-3 rounded-md bg-zinc-800" type="number" placeholder="age" name="age">
      <input class="p-3 rounded-md bg-blue-500 hover:bg-blue-700" type="submit" value="Create Account">
    </form>
  </div>
</body>
</html>